/* Alle Boxen richtig berechnen */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Park */
.park {
  margin: 16px;
  border: 2px dashed silver;
  border-radius: 8px;
  background-color: lightgoldenrodyellow;
  padding: 16px;

  display: flex; /* Tiere horizontal anordnen */
  justify-content: space-between; /* links, mitte, rechts */
  align-items: center;
}

/* Tiere größer machen */
.animal {
  font-size: 48px;
  padding: 16px;
}

/* Hover-Farben für Tiere */
.crocodile:hover {
  background-color: lightblue;
}

.giraffe:hover {
  background-color: lightgreen;
}

.dino:hover {
  background-color: lightsalmon;
}
